[
    {epmdless_dist, [
        {transport, tls},
        {listen_port, 7113}
    ]},
    {kernel, [
        {ssl_dist_opt, [
            {client, [
                {cacertfile, "certs/ca.cert"},
                {certfile, "certs/client.cert"},
                {keyfile, "certs/client.key"},
                {verify, verify_peer}
            ]},
            {server, [
                {cacertfile, "certs/ca.cert"},
                {certfile, "certs/client.cert"},
                {keyfile, "certs/client.key"},
                {verify, verify_peer}
            ]}
        ]}
    ]}
].
